.aboutMe {
  height:100vh;
}
.mainTitle {
  color: white;
  font-size: 7vw;
  margin:0;
}
.sectionMain {
  max-width:140vh;
  margin:auto;
}
.paragraph {
  color: white;
}
.image {
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 2px 20px 2px rgba(168, 54, 54, 0.781);
}

@media (max-width: 600px) {
  .gridContainer {
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    padding-top:10px;
  }
  .image {
    width: 12rem;
    grid-row: 1;
    margin:auto;
  }
}
@media (min-width: 600px) {
  .sectionMain {
    margin-top:3rem;
  }
  .gridContainer {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    row-gap: 15px;
  }
  .image {
    width: 15rem;
    grid-row: 1;
  }
}
@media (min-width: 768px) {
  .gridContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: none;
  }
  .image {
    grid-column: 2;
  } 
  .paragraph {
    font-size: 1.3rem;
  }
}
