.logoContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.logoContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 180px;
  object-fit: contain;
  margin: 15px;
}
