.projectsContainer {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 120px;
  display: flex;
  justify-content:center;
}
.topContent {
  margin-top: -200px;
}
.mainTitle {
  color: white;
  letter-spacing: 1px;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0%;
}
.projectsContent {
  display: grid;
  max-width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 600px) {
  .projectsContent {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
@media (min-width: 600px) {
  .projectsContent {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .projectsContent {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .projectsContent {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .projectsContent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .projectsContent {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
