@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.titleContainer{
  display:flex;
}
.mainTitle {
  color:#30CFD0;
  background-color:grey;
  padding: 5px;
  letter-spacing: 1px;
  font-size: 1.6rem;
  border-style: solid solid none;
  border-color: white;
  border-width: 2px;
  align-self: flex-end;
}

.projectsMain {
  margin:auto;
}
.projectsContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
@media (min-width: 768px) {
  .projectsContent {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .projectsContent {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1440px) {
  .projectsContent {
    grid-template-columns: repeat(4, 1fr);
  }
}
