.contactContainer {
  display: grid;
  background-color: black;
}
.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

.formContainer {
  width: 80%;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 4px;
}
.titleContainer {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin: 10px;
}
.button {
  background-color: grey;
  border: 0.5px solid white;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100%;
}
.button:hover {
  background-color: rgb(69, 68, 68);
}

@media (min-width: 768px) {
  .contactContainer {
    grid-template-columns: 1fr 2fr;
  }
  .titleContainer {
    height: 100%;
    font-size: 4rem;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .logoContainer {
    grid-column: 1;
    grid-row: 2;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 100px;
  }
  .formContainer {
    grid-column: 2;
    grid-row: 1;
    grid-row-end: 3;
    height: auto;
    max-width: 500px;
    margin-bottom: 100px;
  }
}
