.presentationContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding-top: 85px;
  gap: 15px;
}
.mainTitle {
  font-family: Greycliff CF, sans-serif;
  text-align: left;
  background: linear-gradient(to right, #30cfd0 0%, #7934ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentationContainer h2 {
  color: grey;
  font-size: x-large;
}
.presentationContainer p {
  color: white;
}
.image {
  box-shadow: 0px 10px 30px -5px #000000;
  grid-row: 2;
}

@media (max-width: 600px) {
  .mainTitle {
    font-size: 2.8rem;
  }
}
@media (min-width: 600px) {
  .mainTitle {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .presentationContainer {
    grid-template-columns: 2fr 1fr;
    padding-top: 150px;
  }
  .image {
    max-width: 300px;
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 1400px) {
  .presentationContainer{
    height: 90vh;
  }
  .mainTitle {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1;
  }
  .content{
    max-width: 640px;
  }
}
