@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  background-color: #111111;
}

/* Works on Chrome, Edge, and Safari */
.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  background: rgb(39, 38, 38);
}

.container::-webkit-scrollbar-thumb {
  background: rgb(67, 67, 67);
  border-radius: 20px;
  border: 1px solid grey;
}