.container {
  background-color: #e4e4e4;
}
.main {
  padding: 2rem 0;
  min-height: 100vh;
}

.articleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentMain {
  width: 130vh;
  display: grid;
  grid-template-columns: 1.2fr 0.4fr;
  align-items: center;
}
.Maintitle {
  font-size: 4.6rem;
  margin-bottom: 0%;
}
.mainParagraph {
  color: rgb(109, 109, 109);
  font-size: 3rem;
  padding-left: 2rem;
  margin-top: 0%;
}

.logoContainer {
  padding: 4rem;
}
.logoContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  width: 230px;
  height: auto;
  object-fit: contain;
  padding: 2rem;
}
