@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.container {
  background: white;
  margin: auto;
}
.main {
  min-height: 100vh;
}

/* Presentation */
.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 60px;
}
.logoTitle {
  padding: 10px;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
  background-color: black;
  color: white;
}
/* End presentation */

@media (max-width: 1024px) {
  .container {
    padding:20px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 70%;
  }
}
