@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.footerContainer {
  margin-top: 200px;
  padding: 1rem 0;
  background: #000;
}
.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.toggle {
  position: absolute;
  font-size: 20px;
  margin-left: 290px;
}
.footerTitle {
  font-family: "Press Start 2P", cursive;
  color:white;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
